body {
  font-family: Arial, sans-serif;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 200px;
}

button {
  padding: 8px 15px;
  background-color: rgb(46, 36, 175);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: darkblue;
}
